*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

body {
  min-block-size: 100vh;
}

ul[role="list"] {
  padding: 0;
  list-style: none;
}

img,
picture,
svg {
  display: block;
  max-inline-size: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}

:target {
  scroll-margin-block: 2rem;
}
